---
id: "root" 
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello</title>
  <meta charset="utf-8">
  <script src=".\src\index.js" type="module" defer></script>
</head>
<body>
    <div>Hello world12345</div>
    <div id="{{ id }}"></div>
</body>
</html> 